.main {
  width: 100%;
}
.story__wrapper{
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 40px 38px;
  margin-bottom: 148px;
}
.story__info{
  display: flex;
  flex-direction: column;
}
.stoey__info_text_info{
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
}
.stoey__info_text{
  display: flex;
  flex-direction: column;
}
.stoey__info_text p {
  color: #636B78;
  font-size: 17px;
  font-weight: 400;
}
.stoey__info_text h4{
  font-size: 17px;
  font-weight: 600;
  color: #664935;
}
.story__info_order{
  display: flex;
  column-gap: 53px;
  margin-top: 75px;
}
.information__title{
  color: #664935;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 23px;
}
.information__block{
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}
.information__block_item p{
  color: #636B78;
  font-size: 17px;
  font-weight: 400;
}
.information__block_item h4{
color: #664935;
font-size: 17px;
font-weight: 600;
}
.content{
  background-color: #F3F5F7;
  margin-top: 31px;
  padding: 16px 6px;
  border-radius: 10px;
}
.content__title{
  color: #664935;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 46px;
}
.content__wrapper{
  width: 95%;
  margin: 0 auto;
}
.content__info_block {
  display: flex;
  justify-content: space-between;
}
.content__info_block_items{
  display: flex;
  column-gap: 55px;
}
.content__info_block > h4,
.content__info_block_items > p {
  color: #664935;
  font-size: 14px;
  font-weight: 400;
}
.delivery{
  background-color: #F3F5F7;
  border-radius: 10px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  height: 71px;
}
.delivery h4 {
  color: #664935;
  font-size: 16px;
  font-weight: 400;
}