@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* цвета */
  --button-bg-color-normal: #664935;
  --button-bg-color-hover: #502323;
  --button-bg-color-active: #664935;
  --text-color:#664935;
  /* шрифты */
  --font-family-inter:"Roboto", serif;
}