@import '../../styles/varible.css';
*{
  font-family: var(--font-family-inter);
}
.card__container{
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img{
  width: 100%;
  height: 226px;
  display: flex;
  justify-content: center;
}
.card__img img {
  width: 100%;
  object-fit: contain;
}
.card__info{
  display: flex;
  justify-content: space-between;
  margin: 12px 0 10px;
}
.card__info h4{
  color: #797D91;
  font-weight: 400;
  font-size: 14px;

}
.availability{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.description{
  width: 80%;
  height: 52px;
  color: #664935;
  font-size: 15px;
  font-weight: 500;
  overflow: auto;
  -ms-overflow-style: none;
}
.description::-webkit-scrollbar {
  display: none;
}
.autor{
  color: #4D526C;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 10px;
}
.price__block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.price__block {
  color: #664935;
  font-size: 16px;
  font-weight: 600;
}
.block__btn{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.block__btn :link{
  width: 100%;
  height: 50px;
  border-radius: 17px;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;;
  text-decoration: none;
}

.block__btn :first-child{
  color: white;
  background-color: var(--button-bg-color-normal);  
}
.block__btn :last-child{
  color: #664935;
  background-color: #E5E9EC;  
}


@media (max-width:1250px) {
  .description{
    width: 90%;
  }
  .card__info{
    flex-direction: column;
    row-gap: 5px;
  }
}
@media (max-width:1050px) {
  .card__container{
    padding: 5px 5px ;
  }
}
@media (max-width:560px) {
  .card__img{
    height: 200px;
  }
}