@import '../../../styles/varible.css';

* {
  font-family: var(--font-family-inter);
}

body {
  background-color: #F3F5F7;
}

.main__container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.main__title {
  font-size: 46px;
  font-weight: 500;
  color: #664935;
  padding-bottom: 20px;
  margin-top: 15px;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.categories__title {
  font-size: 18px;
  font-weight: 500;
  color: #664935;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 0;
}

.categories__item {
  border-top: 1px solid #CFD8DE;
}

.categories__item ul {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 30px;
}

.categories__item ul>li {
  color: #797D91;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.container__categories__filters {
  max-width: 264px;
  width: 100%;
  padding: 15px 5px;
  transition: 0.4s;
}

.filter__title {
  font-size: 18px;
  font-weight: 500;
  color: #664935;
  display: flex;
  justify-content: space-between;
}

.filter__item {
  padding-left: 23px;
}

.filter__item__block_input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
}

.filter__item__block_input input {
  width: 35%;
  display: block;
  height: 31px;
  border-radius: 50px;
  border: 1px solid #E5E9EC;
  text-align: center;
  color: #664935;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
}

.hyphen {
  width: 5%;
  height: 3px;
  background-color: #797D91;
}

.filter__item>button {
  width: 60%;
  height: 31px;
  border-radius: 59px;
  display: block;
  margin: 0 auto;
  background: #664935;
  color: #fff;
  border: none;
  outline: none;
}

.filter__item__title {
  font-size: 16px;
  font-weight: 500;
  color: #797D91;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 0;

}

.filter__item ul {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 30px;
}

.filter__item ul>li {
  color: #797D91;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.categories__item ul>li.selected__сategory {
  color: #ff0000 !important;
  font-weight: bold !important;
}.wrapper__categories__products {
  display: flex;
  column-gap: 50px;
}

.container__products {
  width: 100%;
  position: relative;
  display: grid;
  grid-template: repeat(1, 1fr)/ repeat(3, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 33px;
  min-height: 150px;
  column-gap: 10px;
  margin-bottom: 75px;
}

.container__products_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container__filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 18px;
}

.container__filters button {
  width: 106px;
  height: 42px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #664935;
  background: #FFFFFF;
  display: none;
}

.select {
  width: 210px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  color: #664935;
  background-color: #F3F5F7;
  border: none;
  outline: none;
}
.active__panel{
  position: fixed;
  z-index: 33;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
}
.active__panel .block_cross {
  width: 100%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
}
.blur_body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 32;
}

@media (max-width:2500px) {
  .container__products{
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }
}
@media (max-width:1900px) {
  .container__products{
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }
}
@media (max-width:1650px) {
  .container__products{
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }
}
@media (max-width:1200px) {
  .container__products{
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
}

@media (max-width:980px) {
  .container__products {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
}

@media (max-width:936px) {
  .container__categories__filters {
    display: none;
  }
  .container__filters button {
    display: block;
  }
  .container__filters{
    justify-content: flex-start;
  }
  .select{
    width: 117px;
  }
  .container__products{
    column-gap: 29px;
  }
  .container__products {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }
}
@media (max-width:850px) {
  .main__container{
    width: 95%;
  }
}
@media (max-width:800px) {
  .container__products {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
}
@media (max-width:520px) {
  .main__container {
    padding: 0 5px;
  }
}
@media (max-width:460px) {
  .container__products{
    column-gap: 14px;
  }
}